<nav class="navbar">
    <div class="container">
        <div class="navbar-brand is-flex is-justify-content-space-between">
            <a class="navbar-item logo-text mx-1" href="/index.html">Omah55</a>
            <button class="navbar-item mx-1" id="menuBtn"><i class="fa-solid fa-bars has-text-weight-bold"></i></button>
        </div>
        <div class="navbar-end" id="navMenu">
            <a class="navbar-item" href="../index.html">Beranda</a>
            <a class="navbar-item" href="../program.html">Program</a>
            <a class="navbar-item" href="../about.html">Tentang</a>
            <a class="navbar-item" href="../contact.html">Kontak</a>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary is-rounded" href="contact.html">Daftar Sekarang</a>
                </div>
            </div>
        </div>
    </div>
</nav>